{% extends 'auth/base_auth.html' %}
{% load static %}

{% block title %}Профиль - GreenQuality Airlines{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-header">
        <h2>Личный кабинет</h2>
        <p>Информация о вашем аккаунте</p>
    </div>
    
    <div class="profile-info">
        <div class="form-group">
            <label>ID аккаунта</label>
            <input type="text" value="{{ account.id_account }}" readonly>
        </div>
        
        <div class="form-group">
            <label>Email</label>
            <input type="text" value="{{ account.email }}" readonly>
        </div>
        
        <div class="form-group">
            <label>Роль</label>
            <input type="text" value="{{ account.role_id.role_name }}" readonly>
        </div>
        
        <div class="form-group">
            <label>Дата регистрации</label>
            <input type="text" value="{{ account.created_at|date:'d.m.Y H:i' }}" readonly>
        </div>
    </div>
    
    <div style="text-align: center; margin-top: 30px;">
        <a href="{% url 'auth:logout' %}" class="auth-btn">Выйти</a>
    </div>
</div>
{% endblock %}